<h1>프로필 편집</h1>
<!--<div class="title_1">-->
    <div class="card">
  <h5 class="card-header">
      
      
  </h5>
      
  <div class="card-body">
    <p class="card-text">
        <p>이름: <%= @profile.name %></p><br>
        <P>이메일: <%=current_user.email%></P><br>
        <p>전화번호: <%= @profile.mobile %></p><br>
        <p>주소:  <%= @profile.adress %></p><br>
        <p>생일: <%= @profile.birth %></p><br>
    </p>
    <br>
    <br>
    <a href="/" class="btn btn-secondary" >HOME</a>
    <a href="edit_profile" class="btn btn-secondary" >EDIT</a>
 
  </div>
</div>
    <!--<@%= @profile.name %><br>-->
    <!--<@%= @profile.birth %><br>-->
    <!--<@%= @profile.mobile %><br>-->
    <!--<@%= @profile.adress %><br>-->
<!--</div>-->

